{% extends 'base.html' %}

{% block title %} {{ title }}{% endblock %}

{% block content %}
    <!-- Selectbox -->
        <div class="sort">
            <select class="select-box-sort">
                <option>Newest first</option>
                <option>Oldest first</option>
            </select>
        </div>


    <!--Main layout-->
    <main class="my-5">
        <div class="container">
            <!--Section: Content-->
            <section class="text-center">
                <h4 class="mb-5"><strong>Latest posts</strong></h4>


                {% for post in object_list %}
                    {% if post.is_published %}

                        {% if forloop.first %}
                            <!--  Row -->
                            <div class="row">
                        {% endif %}

                    <div id="latestposts" class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{ post.preview_image.url }}"
                                     class=""/>
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ post.article }}</h5>
                                <p style="">Here you will learn something new !</p>
                                <a href="{% url 'post-detail' post.slug %}"
                                   class="btn btn-primary article-read-btn">Read</a>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:"3" %}
                        </div>

                        {% if not forloop.last %}
                            <div class="row">
                        {% endif %}
                    {% endif %}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}


            </section>
        </div>
    </main>


    <!-- Pagination -->
    <nav aria-label="Page navigation example">

        <div class="span12 text-center mb-3">

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        </div>

        <ul class="pagination justify-content-center">


            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="#latestposts">{{ page_obj.number }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>

            {% endif %}

        </ul>

    </nav>


{% endblock %}

