{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <h1>Change Password</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">Use the form below to change your password. Your password cannot be the same as
                    your
                    username.</p>
                <form method="POST" {% url 'change_password' %} id="passwordForm">
                    {% csrf_token %}

                    <div class="form-group mt-3">

                        <label>Current Password</label>
                        <input type="password" class="form-control" name="current_password"
                               placeholder="Current password" required>
                    </div>

                    <div class="form-group mt-3">

                        <label>Create new password</label>
                        <input type="password" class="form-control" name="new_password"
                               placeholder="Current password" required>
                    </div>

                    <div class="form-group mt-3 mb-3">
                        <label>Confirm new password</label>
                        <input type="password" class="form-control " name="confirm_password"
                               placeholder="Current password" required>
                    </div>
                    <input type="submit" value="Save" class="btn btn-dark btn-edit-profile">
                </form>
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>

{% endblock %}