{% extends 'base.html' %}


{% block title %} {{ title }}{% endblock %}


{% block content %}
    <div class="px-4 py-5 my-5 text-center">

        <h1 class="display-5 contact-information-header">Contact information</h1>
        <br>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 contact-information-text"><i class="fas fa-envelope-square"></i> e-mail : <a
                    class="contact-tab-links" href="mailto:sizominbohdan@gmail.com">sizominbohdan@gmail.com</a></p>
            <p class="lead mb-4 contact-information-text"><i class="fas fa-phone-square-alt"></i> phone : <a
                    class="contact-tab-links" href="tel:+4812345678">+4812345678</a></p>
            <p class="lead mb-4 contact-information-text"><i class="fab fa-telegram"></i> telegram : <a
                    class="contact-tab-links" href="tel:+4812345678">+489876543</a></p>
        </div>


        <h1 class="display-5 contact-information-header">Adres</h1>
        <br>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 contact-information-text">al. Jana Pawła II 37,<br> 31-864 Kraków</p>
            <br>
        </div>


        <h1 class="display-5 contact-information-header">Work time</h1>
        <br>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 contact-information-text"> Support service: Sunday - Monday (08:00 - 17:00) </p>
            <p class="lead mb-4 contact-information-text"> Automatic order acception: 24/7 </p>
        </div>

        <h1 class="display-5 contact-information-header">Bank info</h1>
        <br>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 contact-information-text">Alior Bank S.A.
                <br>Account number: 1234567890123456789
                <br>IBAN : PL1234567890123456789</p>
        </div>


    </div>{% endblock %}

