{% extends 'base.html' %}

{% block content %}
    <a id="return-icon" href="{% url 'index' %}"><i class="fas fa-long-arrow-alt-left"></i></a>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-xs-3">
                <main class="form-signin">





                        <button class="w-100 btn btn-lg btn-login" type="submit">Sign in</button>
                        <p class="mt-5 mb-3"><a id="dont-have-account" href="{% url 'sign-up' %}">Don`t have an account ?</a></p>
                    </form>




                </main>
            </div>
        </div>
    </div>

{% endblock %}

