{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
        <div class="row">

            <div class="card">
                <h5 class="card-header">Billing Address</h5>
                <div class="card-body">
                    <p class="card-text mb-0">{{ order.full_name }}</p>
                    <p class="card-text mb-0">{{ order.full_address }}</p>
                    <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
                    <p class="card-text mb-0">{{ order.country }}</p>
                    <p class="card-text mb-0">{{ order.email }}</p>
                    <p class="card-text mb-0">{{ order.phone }}</p>
                    {% if order.order_note %}
                        <b>Order Note: </b> {{ order.order_note }}
                    {% endif %}


                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Payment Method</h5>
                <div class="card-body">
                    <p class="card-text">PayPal</p>

                </div>
            </div>


            <div class="card">
                <h5 class="card-header">Review Products</h5>
                <ul class="list-group mb-3">
                    {% for cart_item in cart_items %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ cart_item.product.name }}</h6>
                                {% if cart_item.variations.all %}
                                    {% for item in cart_item.variations.all %}
                                        <small class="text-muted">{{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }}</small>
                                        {% if forloop.last %}

                                        {% else %}
                                            ,
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}

                            </div>
                            <span class="text-muted">{{ cart_item.product.price }}$ * {{ cart_item.quantity }} each</span>
                        </li>
                    {% endfor %}






                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>${{ grand_total }}</strong>
                    </li>
                </ul>


            </div>


        </div> <!-- row.// -->


    </div>
    <div class="container">
        <div id="paypal-button-container">
            <!-- Paypal  button account -->

        </div>
    </div>


<script>

	function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

	var amount = "{{ grand_total }}"
	var url = "{% url 'payments' %}"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.order_number}}"
	var payment_method = 'PayPal'
	var redirect_url = "{% url 'order_complete' %}"
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		style: {
			color: 'blue',
			shape: 'rect',
			label: 'pay',
			height: 40
		},

		// Set up the transaction
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: amount,
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				// Show a success message to the buyer
				console.log(details);
				sendData();
				function sendData(){
					fetch(url, {
						method : "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							orderID: orderID,
							transID: details.id,
							payment_method: payment_method,
							status: details.status,
						}),
					})
				  .then((response) => response.json())
				  .then((data) => {
						window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
					});
				}
			});
		}


	}).render('#paypal-button-container');
</script>
{% endblock %}