{% extends 'base.html' %}


{% block title %} {{ title }}{% endblock %}

{% block keywords %}{{ keywords }} {% endblock %}


{% block content %}

    <main>
        <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}

            <div class="container">

                <!--Section: Block Content-->
                <section class="my-5">

                    <div class="row">
                        <div class="col-md-5 mb-4 mb-md-0">

                            <div class="view zoom z-depth-2 rounded">
                                <img class="img-fluid product-image" src="{{ single_product.image.url }}" alt="Sample">

                                <a href="#!">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-7">

                            <h5>{{ single_product.name }}</h5>
                            <p class="mb-2 text-muted text-uppercase small">{{ single_product.category }}</p>
                            <p class="mb-2 text-muted text-uppercase small">{{ single_product.subcategory }}</p>
                            <p><span class="mr-1"><strong>${{ single_product.price }}</strong></span></p>


                            <p class="pt-1">{{ single_product.description }}</p>

                            {% if single_product.stock <= 0 %}
                                <span class="badge product-detail-out-of-stock-badge">Out of stock</span>
                            {% else %}

{#                                {% if in_cart %}#}
{#                                    <a type="submit" href="{% url 'cart' %}" class="btn btn-success"#}
{#                                       style="font-size:24px;">Item is#}
{#                                        already in cart<i class="fas fa-check"></i></a>#}
{#                                {% else %}#}

                                    <span class="badge product-detail-in-stock-badge">In stock</span>

                                    {# Variants#}

                                    <div class="row">
                                        <div class="item-option-select my-3">
                                            <select name='taste' class="form-control" required>
                                                <option value="" disabled selected>Choose taste</option>
                                                {% for i in single_product.variation_set.tastes %}
                                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="item-option-select my-3">
                                            <select name='weight' class="form-control" required>
                                                <option value="" disabled selected>Choose weight</option>
                                                {% for i in single_product.variation_set.weights %}
                                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>


                                    </div>


                                    <button class="btn btn-dark purchase-link-button" role="button" type="submit">
                                        Purchase
                                    </button>


                                    </div>
                                    </div>
{#                                {% endif %}#}
                            {% endif %}
            </section>

            </div>
        </form>
    </main>

{% endblock %}
