{% extends 'base.html' %}


{% block title %} {{ title }}{% endblock %}

{% block keywords %}{{ keywords }} {% endblock %}


{% block content %}

    <main>
        <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}

            <div class="container">

                <!--Section: Block Content-->
                <section class="my-5">

                    <div class="row">
                        <div class="col-md-5 mb-4 mb-md-0">

                            <div class="view zoom z-depth-2 rounded">
                                <img class="img-fluid product-image" src="{{ single_product.image.url }}" alt="Sample">

                                <a href="#!">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-7">

                            <h5>{{ single_product.name }}</h5>

                            <p class="mb-2">
                                <i class="fa fa-star{% if single_product.averageReview == 0.5 %}-half-o{% elif single_product.averageReview < 1 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview == 1.5 %}-half-o{% elif single_product.averageReview < 2 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview == 2.5 %}-half-o{% elif single_product.averageReview < 3 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview == 3.5 %}-half-o{% elif single_product.averageReview < 4 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview == 4.5 %}-half-o{% elif single_product.averageReview < 5 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                            </p>
                            <p class="mb-2">( {{ single_product.countReview }} reviews )</p>

                            <p class="mb-2 text-muted text-uppercase small">{{ single_product.category }}</p>
                            <p class="mb-2 text-muted text-uppercase small">{{ single_product.subcategory }}</p>
                            <p><span class="mr-1"><strong>${{ single_product.price }}</strong></span></p>


                            <p class="pt-1">{{ single_product.description }}</p>

                            {% if single_product.stock <= 0 %}
                                <span class="badge product-detail-out-of-stock-badge">Out of stock</span>
                            {% else %}

                                {#                                {% if in_cart %}#}
                                {#                                    <a type="submit" href="{% url 'cart' %}" class="btn btn-success"#}
                                {#                                       style="font-size:24px;">Item is#}
                                {#                                        already in cart<i class="fas fa-check"></i></a>#}
                                {#                                {% else %}#}

                                <span class="badge product-detail-in-stock-badge">In stock</span>

                                {# Variants#}
                            {% if single_product. %}
                                    <div class="row">
                                        <div class="item-option-select my-3">
                                            <select name='taste' class="form-control" required>
                                                <option value="" disabled selected>Choose taste</option>
                                                {% for i in single_product.variation_set.tastes %}
                                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="item-option-select my-3">
                                            <select name='weight' class="form-control" required>
                                                <option value="" disabled selected>Choose weight</option>
                                                {% for i in single_product.variation_set.weights %}
                                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>



                                </div>


                                <button class="btn btn-dark purchase-link-button my-3" role="button" type="submit">
                                    Purchase
                                </button>


                                </div>
                                </div>
                                {#                                {% endif %}#}
                            {% endif %}
            </section>
        </form>
        </div>

        {% include 'alert.html' %}
        {% if user.is_authenticated %}

            <div class="container">
                <form action="{% url 'submit-review' single_product.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Leave your comments</h5>
                    <div>
                        <label>How do you rate this product ?</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required/><label for="rating10"
                                                                                                       title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required/><label for="rating9"
                                                                                                        title="4.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required/><label for="rating8"
                                                                                                      title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required/><label for="rating7"
                                                                                                        title="3.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required/><label for="rating6"
                                                                                                      title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required/><label for="rating5"
                                                                                                        title="2.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required/><label for="rating4"
                                                                                                      title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required/><label for="rating3"
                                                                                                        title="1.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required/><label for="rating2"
                                                                                                      title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required/><label for="rating1"
                                                                                                        title="0.5"
                                                                                                        class="half"></label>
                        </div>
                        <br>
                    </div>
                    Review Title:

                    <input type="text" class="form-control" name="subject" autocomplete="off">
                    <br>
                    <textarea name="review" class="form-control" rows="4"> </textarea>
                    <br>
                    <input class="btn btn-dark my-3" type="submit" value="Submit Review">
                    <br>
                </form>
            </div>
        {% else %}
            <p class="text-center" style="font-size:20px;"> You must be logged in to to post review ! </p>
        {% endif %}



        {% for review in reviews %}
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-6 col-12 pb-4">
                            <h1>Comments</h1>
                            <div class="comment mt-4 text-justify float-left border border-dark py-3 px-3 ">
                                <h4>{{ review.user.get_full_name }}</h4> <span>{{ review.created_at }}</span> <br>
                                <h5 class="mt-3">{{ review.subject }}</h5><br>
                                <div>
                                <span>
                                        <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                   aria-hidden="true"></i>

                                </span>
                                </div>
                                <hr>
                                <p>{{ review.review }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}

    </main>

{% endblock %}
