{% extends 'base.html' %}

{% block content %}
    <a id="return-icon" href="{% url 'index' %}"><i class="fas fa-long-arrow-alt-left"></i></a>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-xs-3">
                <main class="form-signin">
                    {% include 'alert.html' %}
                    <form action="{% url 'resetPassword' %}" class="form-container" method="POST">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 fw-normal mt-3 mb-5">Reset password</h1>

                        <div class="form-floating mb-3">
                            <input type="password" name="password" class="form-control" id="floatingPassword"
                                   placeholder="Create Password" autocomplete="off">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="confirm_password" class="form-control" id="floatingPassword"
                                   placeholder="Confirm Password" autocomplete="off">
                            <label for="floatingPassword">Password</label>
                        </div>


                        <button class="w-100 btn btn-lg btn-login" type="submit">Reset</button>
                    </form>

                </main>
            </div>
        </div>
    </div>


{% endblock %}

