{% extends 'base.html' %}

{% block content %}

    <a id="return-icon" href="{% url 'index' %}"><i class="fas fa-long-arrow-alt-left"></i></a>




    <div class="container">
        <!--messages-->


        <div class="row justify-content-center">

            <div class="col-12 col-sm-6 col-xs-3">
                <main class="form-signin">
                    {% include 'alert.html' %}

                    <form action="{% url 'sign-up' %}" class="form-container" method="POST">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col mb-3">
                                <label>First Name:</label>
                                {{ form.first_name }}
                            </div>

                            <div class="col mb-3">
                                <label>Last Name:</label>
                                {{ form.last_name }}
                            </div>


                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <label>Email:</label>
                                {{ form.email }}
                            </div>

                            <div class="col mb-3">
                                <label>Phone number:</label>
                                {{ form.phone_number }}
                            </div>
                        </div>


                        <div class="row">

                            <div class="col mb-3 mb-3">
                                <label> Password:</label>
                                {{ form.password }}
                            </div>


                            <div class="col mb-3 mb-3">
                                <label> Confirm:</label>
                                {{ form.confirm_password }}
                            </div>

                        </div>
                        {{ form.email.errors }}
                        {{ form.non_field_errors }}


                        <button class="w-100 btn btn-lg btn-login" type="submit">Sign up</button>
                        <p class="mt-5 mb-3"><a id="dont-have-account" href="{% url 'login' %}">Already registered ?</a>
                        </p>
                    </form>


                </main>

            </div>
        </div>
    </div>

{% endblock %}