{% extends 'base.html' %}


{% block title %} {{ title }} {% endblock %}


{% block content %}
    {% load static %}
    <!-- Article-->
    <div class="container px-4-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 mt-3">

                <h2 class="section-heading">Sports nutrition: what happens, which one to choose?</h2>
                <img src="{% static 'images/whattochoose/whattochoose1.jpeg' %}" alt="..."
                     style="width:90%;height:auto;">

                <p style="font-size:18px">The selection of sports nutrition products is rich and varied. It is often not
                    easy for a beginner to navigate in it. They have a different effect on the body, differ in
                    composition and price. How To Find The Perfect Sports Nutrition?</p>


                <h1 class="section-heading">What is sports nutrition?</h1>

                <p style="font-size:18px"> Many people confuse it with steroids, male hormone stimulants, due to which
                    muscle growth occurs. A sports supplement is a food supplement that provides a person with
                    additional nutrients, vitamins, minerals, and enzymes.</p>

                <h2 class="section-heading">Varieties of sports nutrition</h2>


                <p>Before you buy sports nutrition and start exercising, you need to decide what it is for, and then
                    study its types.</p>


                <h3 class="section-heading">1. Protein</h3>
                <img src="{% static 'images/whattochoose/whattochoose2.jpeg' %}" alt="..."
                     style="width:90%;height:auto;padding:3%">
                <p>Contains a lot of protein, prepared on the basis of quality milk.<br><i>A lot of protein is required
                    for good muscle growth, so protein is indispensable for those who want a beautiful and relief
                    body.</i></p>

                <h3 class="section-heading">2. Gainer</h3>
                <img src="{% static 'images/whattochoose/whattochoose3.jpeg' %}" alt="..."
                     style="width:70%;height:auto;padding:3%">
                <p>Recommended for thin people who have difficulty gaining weight, but want to say goodbye to a skinny
                    body. It helps to keep the body in good shape, gives energy for training.</i></p>

                <h3 class="section-heading">3. Aminoacids</h3>
                <img src="{% static 'images/whattochoose/whattochoose4.jpeg' %}" alt="..."
                     style="width:90%;height:auto;padding:3%">
                <p>Amino acids are derived from protein. They are a more refined and improved food mixture that is
                    absorbed faster into the bloodstream.</p>

                <h3 class="section-heading">4. Creatine</h3>
                <img src="{% static 'images/whattochoose/whattochoose5.jpeg' %}" alt="..."
                     style="width:90%;height:auto;padding:3%">
                <p>The supplement is involved in cellular metabolism, increases strength and promotes muscle growth. It
                    is usually drunk immediately after training.</p>

                <h3 class="section-heading">5. Fat burners</h3>
                <img src="{% static 'images/whattochoose/whattochoose6.jpeg' %}" alt="..."
                     style="width:90%;height:auto;padding:3%">
                <p>These are substances of natural or synthetic origin that stimulate the body to convert stored fat
                    into energy or prevent the absorption of fat from food. Their main action is to accelerate
                    metabolism.</p>

                <h2 class="section-heading">What to consider when choosing a sports nutrition?
                    Source: PRO Wellness Blog</h2>
                <img src="{% static 'images/whattochoose/whattochoose7.jpeg' %}" alt="..."
                     style="width:90%;height:auto;padding:3%">

                <ul>

                    <li><p><i>Target.</i> It is important to know what the powder is for (burning fat, building muscle,
                        losing weight, drying) so that the effect does not disappoint and the money is not wasted</p>
                    </li>

                    <li><p><i>Manufacturer.</i> It is better to buy goods from reliable sellers. It is usually advised
                        to stop at foreign brands, although their product is more expensive.</p></li>

                    <li><p><i>Prices.</i> The supplement must also be selected based on your financial condition. To do
                        this, it is worth reading the reviews, since some manufacturers unreasonably overcharge the
                        price.</p></li>

                    <li><p><i>Composition.</i> It is important to know what the supplement consists of before buying, as
                        it will have to be drunk every day.</p></li>

                </ul>

                <p class="" style="margin-top:5%;margin-bottom:2.5%;font-size:20px;text-decoration:underline;">Choosing
                    the right sports supplement is not that difficult. In case of difficulty, you should seek advice
                    from a trainer or an experienced bodybuilder.</p>

            </div>
        </div>
    </div>


    <!--  Popular products -->
{% endblock %}









